
// Top bar
$topbar-bg-color: transparent;
$topbar-height: unquote("50px");
$topbar-margin-bottom: 0;
$topbar-link-bg-hover: transparent;
$topbar-link-color-hover: #eee;
// $topbar-link-font-size: unquote("14px");

$topbar-dropdown-bg: transparent;
$topbar-dropdown-link-bg: transparent;
$topbar-dropdown-label-bg: transparent;
// $topbar-dropdown-link-bg: #2FCCCC;
// $topbar-dropdown-link-bg-hover: #ddd;
