.contact
{
  .banner-image
  {
    &::before
    {
      background: url('http://foodnetwork.sndimg.com/content/dam/images/food/fullset/2010/11/1/1/FNM_120110-WN-Dinners-021_s4x3.jpg.rend.snigalleryslide.jpeg') center/cover;
    }
  }
  .text
  {
    text-align: center;
    padding: 100px 10px;
  }
}
