.contact
{
  .main-section
  {
    padding: 75px 0px;
  }
  .banner-image
  {
    &::before
    {
      background: url('/assets/images/shrimp.jpg') center/cover;
    }
  }
  .text
  {
    text-align: center;
    padding: 10px;
  }
}
