<div class="contact">

  <section class="main-section">
    <div class="row">
      {{user-profile}}
      <p class="text">Contact me at <a href="mailto:treasurechestfoods@gmail.com">treasurechestfoods@gmail.com</a> or call 419-304-8508.</p>
    </div>
  </section>

</div>
