.index
{
  section.main-section {
    margin: auto;
  }
  .testimonials {
    background-color: white;
    width: auto;
    .title {
      text-align: center;
      padding: 1em;
      font-size: 1.4em;
    }
  }
}
