<div class="index">

  {{#banner-image}}
    <img src="/assets/images/tresure-chest-logo-light.png" class="main-logo"/>
  {{/banner-image}}

  <section class="main-section">
    <div class="row info">
      <p>Since 1985, Treasure Chest Foods has been in the business of delivering the highest quality meats and seafood directly to peoples homes and businesses.  What has made Treasure Chest Foods successful is the focus on delivering high quality products with a personal level of service that is very hard to find these days. I only sell food from the best suppliers available. Foods that you can usually only find in the finest restaurants. Prime and choice grade steaks from Midwest grain fed cattle. Shrimp from the Campeche Bay area of the Gulf of Mexico. Lobster, crab legs and scallops wild caught from icy ocean waters. All natural, nutritiously fed, additive-free, humanely raised chicken. Great tasting fish, pork and veal.</p>
      <p>My products are portion controlled which means there is no waste or leftovers regardless of whether you’re serving a large crowd or just one or two people. Most are vacuum packed to seal in flavor and extend shelf life. Many of my products can be baked or pan fried or quickly prepared — perfect for busy people!</p>
      <p>I guarantee all my products and will gladly replace or exchange any products that you are not satisfied with.</p>
    </div>
    <div class="row testimonials">
      {{#each testimonials as |testimonial|}}
        {{testimonial-box testimonial=testimonial}}
      {{/each}}
    </div>
  </section>

</div>
