<div class="index">

  <section class="main-section">
    <div class="row info">
      <p>Since 1985, Treasure Chest Foods has been in the business of delivering the highest quality meats and seafood directly to peoples homes and businesses.  What has made Treasure Chest Foods successful is the focus on delivering high quality products with a personal level of service that is very hard to find these days. I only sell food from the best suppliers available. Foods that you can usually only find in the finest restaurants. Prime and choice grade steaks from Midwest grain fed cattle. Shrimp from the Campeche Bay area of the Gulf of Mexico. Lobster, crab legs and scallops wild caught from icy ocean waters. All natural, nutritiously fed, additive-free, humanely raised chicken. Great tasting fish, pork and veal.</p>
      <p>My products are portion controlled which means there is no waste or leftovers regardless of whether you’re serving a large crowd or just one or two people. Most are vacuum packed to seal in flavor and extend shelf life. Many of my products can be baked or pan fried or quickly prepared — perfect for busy people!</p>
      <p>I guarantee all my products and will gladly replace or exchange any products that you are not satisfied with.</p>
    </div>

    <div class="row">
      <p>Treasure Chest Foods originated way back in 1985. The concept was fairly simple-deliver high quality meats and sea foods directly to homes and business owners. Many of the current customers go all the way back to the mid-80’s and early 90’s. Of course there are also many new customers that thoroughly enjoy the high quality food and personal service that I provide. The business has had several owners over the years. I recently purchased the business from Matt Wakelin, who has  enjoyed two very successful stints as the owner of the business. Matt decided he wanted to live in New York state full time and I decided I wanted to own my own business. I have met many of the customers over the past few months and I look forward to continuing to develop my relationships with all current and potentially new customers.</p>
      <p>All of the food that I sell is frozen and most of the items are vacuum packed, individual portions. The meats are restaurant quality in flavor, trim and appearance. Many of the sea food fillets are also vacuum sealed and frozen right after harvest to preserve flavor and freshness. As well, the chicken I sell is humanely raised, antibiotic and hormone-free and individually vacuum sealed with absolutely zero additives. All of the shellfish is wild-caught in cold Atlantic waters except for the shrimp, which originates in the Campeche Bay of the Gulf of Mexico, considered to be the home of the best tasting shrimp available. All foods are properly packaged and delivered via truck with a bed mounted, customized freezer unit that keeps everything frozen all day long.</p>
      <p>Treasure Chest Foods maintains all USDA and State certifications necessary by law. We stand behind our quality and service, which has been our calling card that has allowed Treasure Chest Foods to grow the business over these many years. Your complete satisfaction is guaranteed.</p>
      <h3>Suppliers</h3>
      <p>I use only the best suppliers — companies that provide meats and sea food to some of the finest restaurants in the region. They include US Foods, Northern Haserot, Stockyards and Just Natural Provisions.</p>
      <h3>History</h3>
      <p>Back in the 1980’s, door-to-door salesmen were still quite common. I am sure if you are as experienced as I am you probably remember the Fuller Brush man that called on your mother. Several competing companies had the idea that homeowners would also buy meats and sea foods from door to door salesman. There were literally dozens of salespeople covering a two hour radius of Toledo working for various companies. A number of things occurred that hastened the demise of these companies, so by the mid 90’s there were only a few people left still making this business model work. Eventually the model that lasts still to this day is the model that Treasure Chest Foods embraced. That business model is providing the highest quality foods available with a personal level of service that just is not available elsewhere. You just cannot find this quality level in your grocery store and even in most specialty shops. The food is personally delivered to your home or business by the owner of the company, who has a vested interest in you and your satisfaction.</p>
      <p>I have been in sales and sales management for over 25 years, primarily in the industrial business-to-business arena. As a ten year old I got my start in the working world by delivering newspapers door to door 6 days a week until I was 16 and could get a “real” job. After college graduation I worked three years selling property and life insurance, mainly to homeowners at the kitchen table. I eventually found my way into the corporate world, but I always had a desire to own my own business. So as of January 2016 I am now the proud owner of Treasure Chest Foods, LLC and I am looking forward to working with all of my existing customers and gaining new ones as well.</p>

      {{user-profile}}

    </div>


    <div class="row testimonials">
      <div class="title">Testimonials</div>
      {{#each testimonials as |testimonial|}}
        {{testimonial-box testimonial=testimonial}}
      {{/each}}
    </div>

  </section>

</div>
