<div class="contain-to-grid nav-bar">
  <nav class="top-bar" data-topbar="">

    <!-- Title Area -->
    <!-- <ul class="title-area">
      <li class="name">
        <h1><a>Top Bar Title</a></h1>
      </li>
    </ul> -->


    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>{{#link-to 'index' class="nav-btn"}}HOME{{/link-to}}</li>
        <li>{{#link-to 'products' class="nav-btn"}}PRODUCTS{{/link-to}}</li>
        <li>{{#link-to 'recipes' class="nav-btn"}}RECIPES{{/link-to}}</li>
        <li>{{#link-to 'about' class="nav-btn"}}ABOUT{{/link-to}}</li>
        <li>{{#link-to 'contact' class="nav-btn"}}CONTACT{{/link-to}}</li>
      </ul>
    </section>

  </nav>
</div>

{{outlet}}

<!-- Lets leave this out until we have more networks to add -->
<!-- <section class="social">
  <div>Instagram</div>
</section> -->

<section class="footer">
  <div class="contact">
    <div>3904 Meadowview St.</div>
    <div>Lambertiville, MI  48144</div>
    <div>419-346-4592 | info@treasurechestfoods.com</div>
    <a href="https://instagram.com/treasurechestfoods" target="_blank">Instagram</a>
  </div>
  <div class="copyright">
    Copyright © {{year}}, Treasure Chest Foods. All rights reserved.
  </div>
</section>
