{{#banner-image}}
{{/banner-image}}

{{#paper-tabs selected=(readonly router.currentRouteName) center=true stretch=true class="layout-row" borderBottom=true as |tabs|}}
  {{#tabs.tab value="index" href=(href-to "index")}}
    About
  {{/tabs.tab}}
  {{#tabs.tab value="products" href=(href-to "products")}}
    Products
  {{/tabs.tab}}
  {{#tabs.tab value="contact" href=(href-to "contact")}}
    Contact
  {{/tabs.tab}}
{{/paper-tabs}}

{{liquid-outlet}}

<section class="footer">
  <div class="contact">
    {{!-- <div>3904 Meadowview St.</div>
    <div>Lambertiville, MI  48144</div> --}}
    <div>treasurechestfoods@gmail.com</div>
    <div>419-304-8508</div>
    <a href="https://instagram.com/treasurechestfoods" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a>
  </div>
  <div class="copyright">
    Copyright © {{year}}, Treasure Chest Foods. All rights reserved.
  </div>
</section>
