.about
{
  .banner-image
  {
    &::before
    {
      background: url('/assets/images/pork-chop.jpg') center/cover;
    }
  }
  .profile-picture
  {
    text-align: center;
    img
    {
      border-radius: 50%;
      width: 175px;
      margin: 12px;
    }
  }
}
