.about
{
  .banner-image
  {
    &::before
    {
      background: url('/assets/images/pork-chop.jpg') center/cover;
    }
  }
  .profile-picture
  {
    text-align: center;
    .user-image
    {
      margin: 10px auto;
    }
  }
}
