.testimonial-box {
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 2em;
  .quote {
    font-size: 1em;
    color: #333;
    padding: 12px;
    &:before {
      content: '“';
    }
    &:after {
      content: '”';
    }
  }
  .who {
    color: #666;
  }
}
