.products
{
  .banner-image
  {
    &::before
    {
      background: url('/assets/images/beef.jpg') center/cover;
    }
  }

  .category
  {
    margin-bottom: 40px;
  }


  .side-nav
  {
    border-right: solid 1px #eee;
    .quick-link
    {
      color: #000;
      font-size: 14px;
      &:hover
      {
        color: #333;
      }
    }
  }
}
